<div class="flex flex-col-2">
  <div class="p-4">
    <form (ngSubmit)="onSearch()">
      <div class="grid grid-flow-row gap-4">
        <div>
          <p>Género</p>
          <input type="text" [(ngModel)]="search.genre" name="genre" placeholder="Ej: Ficcion" class="p-2 border border-gray-300 rounded">
        </div>
        <div>
          <p>Autor</p>
          <input type="text" [(ngModel)]="search.author" name="author" placeholder="Ej: Frank Herbert" class="p-2 border border-gray-300 rounded">
        </div>
        <div>
          <p>Formato</p>
          <input type="text" [(ngModel)]="search.format" name="format" placeholder="Ej: Ebook" class="p-2 border border-gray-300 rounded">
        </div>
      </div>
      <div class="mt-4">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Buscar</button>
      </div>
    </form>
  </div>
  <div class="w-full mx-5 overflow-x-auto overflow-y-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Titulo
                </th>
                <th scope="col" class="px-6 py-3">
                    Autor
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Formato
                </th>
                <th scope="col" class="px-6 py-3">
                  Stock
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ebook of ebooks" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ebook.title}}
            </th>
            <td class="px-6 py-4">
                {{ebook.author}}
            </td>
            <td class="px-6 py-4">
                {{ebook.genre}}
            </td>
            <td class="px-6 py-4">
                {{ebook.format}}
            </td>
            <td class="px-6 py-4">
                {{ebook.stock}}
            </td>
            <td class="px-6 py-4">
                ${{ebook.price}}
            </td>
            <td class="px-6 py-4 text-left">
              <div class="flex flex-col">
                <div>
                  <button (click)="editEBook(ebook)">Editar</button>
                </div>
                <div>
                  <button (click)="changeStatusEBook(ebook)">Deshabilitar</button>
                </div>
                <div>
                  <button (click)="addStockEBook(ebook.id)">Añadir stock</button>
                </div>
                <div>
                  <button (click)="deleteEBook(ebook.id)">Eliminar</button>
                </div>
              </div>
            </td>
          </tr>
          <div class="flex justify-center" *ngIf="ebooks.length == 0">
            <p class="font-medium">No se encuentran libros</p>
          </div>
        </tbody>
      </table>
    </div>
</div>

